.about-section {
	padding: 50px 15px 10px;
	min-height: 520px;
	background-color: #ffffff;
	color: #4a4a4a;

}
.about-section h3 {
	text-align: center;
}
.history {
	background-color: #fff;
	color:#333333;
}
.history h5{
	margin: 0px;
}
.history img{
	margin-left: 15px
}
.history p{
	padding:10px;
}