.targetsection div.font_7{
    text-align: center;
}

.target-section .target-button-div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 35px;
    min-height: 21px;
    width: 201px;
}
.target-button-div{
    display: flex;
    align-items: center;
    text-align: initial;
	font: normal normal normal 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;

}
button.target-button{
    border: none;
    padding:10px 15px;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background-color: #000000;
    color: #FFFFFF;
}

.target-button:focus, .target-button:hover {
    background-color: #7c7c7c;
    color: #bebebe;
}
.get-links{
    display: block;
    padding: 10px;
    position: relative;
    z-index: 1000;
    height: auto;
}